		<main class="location-container">

			<article class="location">
				<div class="location-content">
					<p class="location-title">
						Tree Stump
					</p>
					<p class="location-description">
						A hollowed out old tree stump near Oak Creek
					</p>
					<p class="location-viewmore">
						<a href="Tree+Stump">Get Coordinates</a>
					</p>
				</div>
			</article>
