<header>
    <a href="#"><h1 class="site-title"><i class="far fa-map"></i>GeoCacher</h1></a>
	<nav class="navbar">
		<ul class="navlist">
			<li class="navitem"><a href="/">Home</a></li>
			<li class="navitem"><a href="/">About</a></li>
		</ul>
	</nav>
</header>