header {
	background-color: rgb(51, 199, 204);
}

body {
	background-color: #EEEEEE;
	font-family: Lato;
	padding: 0;
	margin: 0;
 }
 
 .site-title {
	color: #FFFFFF;
	display: block;
	float: none;
	width: 100%;
    text-align: center;
	font-size: 200%;
	font-weight: bold;
	padding: .5em;
	margin: 0;
	text-align: center;
}

.navbar {
	background-color: #FFFFFF;
	font-size: 120%;
}

.navlist {
	text-align:center;
	margin: 0;
	padding: 0 1em;
}

.navitem {
	display: inline-block;
	text-align: center;
	padding: 8px;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #006600;
}

.location-container {
	overflow:scroll;
	margin: 2em auto;
	padding: 0;
	width: 50em;
	height: 50em;
	display: flex;
	flex-wrap: wrap;
}

.location {
	background-color: #FFFFFF;
	width: 40 em;
	border-radius: .25em;
	border: 1px solid LightGrey;
	display: flex;
	margin: 3px;
	padding: 1em;
	flex-basis: 49em;
}
