header {
	background-color: rgb(51, 199, 204);
}

body {
	background-color: #EEEEEE;
	font-family: Lato;
	padding: 0;
	margin: 0;
 }
 
 .site-title {
	color: #FFFFFF;
	display: block;
	float: none;
	width: 100%;
    text-align: center;
	font-size: 200%;
	font-weight: bold;
	padding: .5em;
	margin: 0;
	text-align: center;
}

.navbar {
	background-color: #FFFFFF;
	font-size: 120%;
}

.navlist {
	text-align:center;
	margin: 0;
	padding: 0 1em;
}

.navitem {
	display: inline-block;
	text-align: center;
	padding: 8px;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #006600;
}

table {
	max-width:980px;
	table-layout:fixed;
	margin:auto;
}
th, td {
	padding:5px 10px;
	border:1px solid #000;
}
thead, tfoot {
	background:#f9f9f9;
	display:table;
	width:100%;
	width:calc(100% - 18px);
}
tbody {
	height:300px;
	overflow:auto;
	overflow-x:hidden;
	display:block;
	width:100%;
}
tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
}
