header {
	background-color: rgb(51, 199, 204);
}

body {
	background-color: #EEEEEE;
	font-family: Lato;
	padding: 0;
	margin: 0;
 }
 
 .site-title {
	color: #FFFFFF;
	display: block;
	float: none;
	width: 100%;
    text-align: center;
	font-size: 225%;
	font-weight: bold;
	padding: .5em 0;
	margin: 0;
	text-align: center;
}

a {
	text-decoration: none;
	color: #006600;
}

a:hover {
	color: rgb(51, 199, 204);
}

caption {
	font-size: 150%;
	font-weight: bold;
	padding: .25em;
}

.location-search-input {
	text-align:center;
	display: block;
	margin: 0 auto;
}

.location-table {
	max-width:75em;
	height: 40em;
	table-layout:fixed;
	margin:auto;
}
.location-name {
	font-weight: bold;
	font-size: 110%;
}
th, td {
	padding:.25em 0;
	border:1px solid #000;
	text-align:"center";
}
thead {
	background:#LightGrey;
	display:table;
	width:100%;
	width:calc(100% - 18px);
}
tbody {
	height:100%;
	overflow:auto;
	overflow-x:hidden;
	display:block;
	width:100%;
}
tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
	text-align:"center";
}

tr:hover {
  background-color: lightblue;
  cursor: pointer;
}
